@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import 'react-tippy/dist/tippy.css';

body {
  margin: 0;
  font-family: 'Press Start 2P', 'Courier', 'Courier New', sans-serif;
  font-size: 8pt;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #AEB29E;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.sidebar {
  background: #ccc;
  transition: all .5s;
}
.sidebar.collapsed {
  transform: translateX(260px);
  position: absolute;
}
.menu {
  transition: all .5s;
}
.menu.collapsed {
  transform: translateX(0px);
  position: absolute;
}
